---
// import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

import Slideshow from "../components/hero/Slideshow.astro";
import Landing from "../components/hero/Landing.astro";
import Centered from "../components/hero/Centered.astro";
import AgencyCentered from "../components/hero/AgencyCentered.astro";
import AgencyRight from "../components/hero/AgencyRight.astro";
import AgencyLeft from "../components/hero/AgencyLeft.astro";
import AgencyLeft2 from "../components/hero/AgencyLeft2.astro";
import AgencyLeft3 from "../components/hero/AgencyLeft3.astro";

import ThreeCard from "../components/services/ThreeCard.astro";
import Agency6Card from "../components/services/Agency6Card.astro";

import AgencySimple from "../components/footers/AgencySimple.astro";

import AgencySxS from "../components/side-by-side/AgencySxS.astro";
import AgencySxS2 from "../components/side-by-side/AgencySxS2.astro";

import AgencyCTA from "../components/cta/AgencyCTA.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <!-- Hero -->
    <!-- <Slideshow /> -->
    <!-- <Landing /> -->
    <!-- <Centered /> -->
    <!-- <AgencyCentered /> -->
    <!-- <AgencyRight /> -->
    <!-- <AgencyLeft /> -->
    <!-- <AgencyLeft2 /> -->
    <AgencyLeft3 />

    <!-- Services -->
    <!-- <ThreeCard /> -->
    <Agency6Card />

    <!-- Side By Side -->
    <!-- <AgencySxS /> -->
    <AgencySxS2 />

    <!-- CTA -->
    <AgencyCTA />
  </main>
</Layout>
