---
import "../assets/styles/global.css";
// Navigation
import Agency from "../components/navigation/Agency.astro";
import Agency2 from "../components/navigation/Agency2.astro";
import Agency3 from "../components/navigation/Agency3.astro";
import Agency4 from "../components/navigation/Agency4.astro";
import ContractorTopBar from "../components/navigation/ContractorTopBar.astro";
import ContractorTopBarDropdown from "../components/navigation/ContractorTopBarDropdown.astro";
import ContractorTopBarDropdown2 from "../components/navigation/ContractorTopBarDropdown2.astro";
import Med from "../components/navigation/Med.astro";
import MiscDoubleDropdown from "../components/navigation/MiscDoubleDropdown.astro";
import MiscStandardDropdown from "../components/navigation/MiscStandardDropdown.astro";
import MiscStandardDropdown2 from "../components/navigation/MiscStandardDropdown2.astro";
import MiscTopBarDropdown from "../components/navigation/MiscTopBarDropdown.astro";
import TattooDropdown from "../components/navigation/TattooDropdown.astro";
import TherapyContained from "../components/navigation/TherapyContained.astro";
// footers
import AgencySimple from "../components/footers/AgencySimple.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <!-- NAVIGATION -->
    <!-- <Agency /> -->
    <!-- <Agency2 /> -->
    <!-- <Agency3 /> -->
    <!-- <Agency4 /> -->
    <!-- <ContractorTopBar /> -->
    <!-- <ContractorTopBarDropdown /> -->
    <!-- <ContractorTopBarDropdown2 /> -->
    <Med />
    <!-- <MiscDoubleDropdown /> -->
    <!-- <MiscStandardDropdown /> -->
    <!-- <MiscStandardDropdown2 /> -->
    <!-- <MiscTopBarDropdown /> -->
    <!-- <TattooDropdown /> -->
    <!-- <TherapyContained /> -->
    <slot />
    <!-- FOOTER -->
    <AgencySimple />
    <script>
      // import "../assets/scripts/script.js";
      import "../assets/scripts/dark.js";
      import "../assets/scripts/onScroll.js";
    </script>
  </body>
</html>
